
  form {
    border: 3px solid #004ba144;
  }
  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #002855;
    box-sizing: border-box;
  }
  
  button {
    background-color: #004ba1;
    color: white;
    padding: 14px 20px;
    margin: 20px auto auto auto;
    border: none;
    cursor: pointer;
    width: calc(100px + 25%);
  }

  button:hover {
    opacity: 0.8;
  }

  .redirect-signup {
      width: auto;
      margin: auto;
      padding: auto;
  }
  
  .container {
    padding: 16px;
  }
  
  /*
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  } */